<h1 class="text-6xl max-lg:text-5xl text-porange grid absolute inset-x-0 top-0 justify-center font-bold">STATOIN1</h1>
<div class="grid grid-cols-4 h-screen content-center overflow-hidden">
  <div class="col-span-2 max-lg:col-span-4 content-center px-16 max-lg:text-center">
    <h3 class="text-6xl max-xl:text-4xl text-pdark pl-3 pt-4">Welcome to the <span class="text-porange font-bold">STATOIN1</span></h3>
    <h4 class="text-5xl max-xl:text-3xl text-ldark pl-3 pt-5">
      Your launchpad to professional <span class="text-porange font-semibold">Success</span>
    </h4>
    <p class="text-4xl max-xl:text-2xl text-pgray self-start pt-9 pl-3 pr-3">
      Crafting a standout CV just got easier. <br>
      Station1 offers you the tools to create polished, <br>
      professional resumes that impress employers and land you the job of your dreams. <br>
      With customizable templates and intuitive design features, <br>
      we're here to help you elevate your career journey. <br>
      Let's embark on this voyage together! <br>
    </p>
    <div class="flex flex-row gap-4 justify-center max-lg:justify-center mt-9">
      <div class="justify-self-center w-fit rounded-lg p-3 bg-porange text-light text-xl hover:text-ldark transition duration-300 ease-in-out">
        <%= link_to 'Show Examples', examples_path %>
      </div>
      <div class="border-l-2 border-ldark h-12 self-center"></div>
      <div class="justify-self-center w-fit rounded-lg p-3 bg-porange text-light text-xl hover:text-ldark transition duration-300 ease-in-out">
        <%= link_to 'Get Started', new_form_path %>
      </div>
    </div>
  </div>
  <div class="grid max-lg:hidden col-span-2 relative justify-center h-screen">
    <%= image_tag 'CV2', class:"max-h-[80%] max-xl:max-h-[50%] self-center absolute inset-y-[10%] inset-x-1/4 rounded-lg outline shadow-xl origin-bottom -rotate-[9deg] blur-sm" %>
    <%= image_tag 'CV3', class:"max-h-[80%] max-xl:max-h-[50%] self-center absolute inset-y-[10%] inset-x-1/4 rounded-lg outline shadow-xl origin-bottom rotate-[14deg] blur-sm" %>
    <%= image_tag 'CV1', class:"max-h-[80%] max-xl:max-h-[50%] self-center absolute inset-y-[10%] inset-x-1/4 rounded-lg outline shadow-xl" %>
  </div>
</div>