<!DOCTYPE html>
<html>
  <head>
    <title>STATION1 (CV-Maker)</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "fonts", "data-turbo-track": "reload" %>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="no-print absolute inset-x-0 top-0 z-10 flex justify-center px-4 pt-4">
      <%= link_to 'STATION1', root_path, class: "text-4xl font-bold font-serif text-porange sm:text-5xl" %>
    </header>
    <p class="no-print notice"><%= notice %></p>
    <p class="no-print alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
